In [9]:
# Excercise 2 Create markdown cell with the title Data Science Tool and Ecosystem using H1 style heading.

In [10]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [11]:
# Excercise 3 Create a markdoen cell for introduction
# Write an introductory sentence about the notebook such as follows:
# In this notebook, Data Science Tools and Ecosystem are summarized.

### In this notebook, Data Science Tools and Ecosystem are summarized.

In [12]:
# 10 Insert a markdown cell to list objectives
# Below the introduction cell created in exercise 3, insert a new markdown cell to list the objectives that this notebook covered.
# i.e. some of the key takeaways from this course.
# In this new cell start with an introductory line titled Objectives: in bold font. 
# Then using an unordered list, indicate 3-5 items covered in this notebook, such as list popular languages for data science.

**Objectives**
* Create a code to multiply and add numbers
* List Data Science tools
* List libraries commonly used for Data Science
* List popular languages Data Scientists like to use
* Convert Minutes to hours

In [13]:
# Excercise 4 Create a markdown cell to list data science languages.
# Start the cell with an overview line such as:
#            Some of the more popular languages Data Scientists use are:
# Then create an ordered list, listing three or more commonly used languages for data science.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

In [14]:
# Excercise 5 Create a markdown call to list data science libraries.
# Add an overview cell line like:
# Some of the commonly used libraries used by data scientists include:
# below this line add an ordered list, listing three or more commonly used libraries in data science.

Some of the commonly used libraries, used by data scientists include:

1. Pandas
2. Plotly
3. TensorFlow
4. NumPy

In [15]:
# Excercise 6 Create a markdown cell with a table of Data Science tools
# Create a single column table in this cell with the first row containing the header:
# Data Science Tools.
# The subsequent three rows should indicate three development environment open source tools used in data science.

|Data Science Tools|
|------|
|Apache|
|Kubernetes|
|Red Hat Open Shift|
|Mleap|
|TensorFlow Server|

In [16]:
# Excercise 7 Create a markdown cell introducing arithmatic expression examples.
# Add a line in this cell with H3 style heading with text like:
# Below are a few examples of evaluating arithmatic expressions in Python.

### Below are a few examples of evaluating arithmatic expressions in Python:

In [17]:
# Exercise 8 Create a code cell to multiply and add numbers.
# In this code cell, evaluate the expression (3*4)+5
# Insert a comment before the expression to explain the operation e.g. This is a simple arithmatic expression to multiply then add integers.
# Then execute the cell to ensure the expression returns the expected output of 17

In [18]:
# This is a simple arithmatic expression to multiply, then add integers.
(3*4)+5

17

In [19]:
# Excercise 9 Create a code cell to convert minutes to hours.
# In this code cell write an expression that converts 200 minutes into hours.
# Insert a comment before the expression to explain the operation e.g. This will convert 200 minutes to hours by dividing by 60, 
# run the cell to evaluate the expression.

In [20]:
# This operation will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

In [21]:
# Excercise 11 Create a markdown cell to include to following text:
# Author in H2 style heading
# Include your name as regular text below the word author.

## Author:
Kirstie Roberts